pandas
pyarrow
numpy
tqdm
scikit-learn
sentence-transformers
bertopic
hdbscan
umap-learn
huggingface_hub
transformers
torch
lxml
html5lib
beautifulsoup4
requests
matplotlib
seaborn
plotly
kaleido==0.2.1
wordcloud

